
.box-area{
    width: 930px;
}
.right-box{
    padding: 40px 30px 40px 40px
}
::placeholder{
    font-size: 16px;
}
@media only screen and (max-width: 768px) {
    .box-area{
        margin: 0 10px;
    }
    .left-box{
        height: 100px;
        overflow: hidden;
    }
    .right-box{
        padding: 20px;
    }
}
h3{
    color: rgb(255, 81, 0);
}
.login{
    background-color: orangered;
}
.color-text{
   color: orangered;
   border: 1px solid orangered;
   border-radius: 5px;
}
.font-text{
    color: aliceblue;
}
.login_form #username_error{
    margin-bottom: 10px;
    width: 345px;
    font-size: 18px;
    color:#C62828;
    background: rgba(255,0,0,0.1);
    text-align: center;
    display: none;
}
.login_form #password_error{
    margin-top: 5px;
    width: 345px;
    font-size: 18px;
    color:#C62828;
    background: rgba(255,0,0,0.1);
    text-align: center;
    display: none;
}
 